# --- VS code configuration ---
.vscode/

# --- header & library (FTDI drivers)
include/
lib/

# --- Compiled binaries (Executable files) ---
*.exe
*.out

# --- Object files and Intermediate build files ---
*.o
*.obj

# --- Other fles ---
*.csv
*.png
*.jpg